*{
    margin: 0; 
    padding: 0;
   box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 22);
    color: white;
    height: 100vh; /*viewport height, its gonna matter when we implement the smooth scrolling behvaior*/
    overflow: hidden; /*hiding scrollbar */
}

.container{
    width: 100%;
    height: 100%;
    /*css smooth scroll*/
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

.navbar ul{
    list-style: none;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    transition: 0.5s;
    
}

.navbar ul li a:hover{
    color: skyblue;
letter-spacing: 6px;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vh;
    height: 100vh;
    scroll-snap-align: center;
}
section h1{
    font-size: 4rem;
 font-size: clamp(3vh, 7rem , 15vw);
}

section p{
    font-size: 1.5rem;
}

section#home{
  background: url(home.jpg) no-repeat center center/cover;
  width: 100%;
    height: 100%;
border-radius: 10px;
}
section#about{
    background: url(about.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
section#blog{
    background: url(blog.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
section#social{
    background: url(socials.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(117, 117, 117);
  
}

